@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  overflow-y: scroll;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
input,
textarea {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
a:focus {
  outline: none;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfix {
  min-height: 1px;
}
* html .clearfix {
  height: 1px;
  /*¥*/
  /*/
	height: auto;
	overflow: hidden;
	/**/
}
.both {
  clear: both;
}
.bgalpha_r {
  background-color: rgba(179, 2, 24, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99B30218', endColorstr='#99B30218');
  *zoom: 1;
}
.bgalpha_r2 {
  background-color: rgba(179, 2, 24, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99B30218', endColorstr='#99B30218');
  *zoom: 1;
}
.bgalpha_w {
  background-color: rgba(255, 255, 255, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99ffffff', endColorstr='#99ffffff');
  *zoom: 1;
}
.bgalpha_w2 {
  background-color: rgba(255, 255, 255, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99ffffff', endColorstr='#99ffffff');
  *zoom: 1;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 30px;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.ml10 {
  margin-left: 10px;
}
.ml10p {
  margin-left: 10%;
}
.ml20 {
  margin-left: 20px;
}
.ml20p {
  margin-left: 20%;
}
.ml30 {
  margin-left: 30px;
}
.ml30p {
  margin-left: 30%;
}
.fz20 {
  font-size: 20px;
}
.fz30 {
  font-size: 30px;
}
.color_red {
  color: #b30218;
}
.color_blu {
  color: #4eadca;
}
.color_org {
  color: #f5a623;
}
body {
  background: url(../images/bg.png);
}
.container {
  width: 84%;
  margin: 0 auto;
  padding: 40px 0;
  padding-bottom: 0;
}
#content01 {
  position: relative;
  background: url(../images/bg_top.jpg) no-repeat top center;
  background-size: cover;
  min-height: 730px;
}
#content01 .logo {
  max-width: 200px;
  min-width: 150px;
}
#content01 .logo img {
  width: 100%;
  height: auto;
}
#content01 .top_text {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.6;
  padding-left: 30px;
  text-shadow: 1px 1px 10px #888;
}
#content01 .top_text .date {
  width: 86%;
  margin-top: 20px;
  border: solid 1px #fff;
  box-shadow: 1px 1px 8px #eee;
  text-shadow: none;
  font-size: 18px;
}
#content01 .top_text .date span.title {
  color: #fff;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: solid 1px #fff;
}
#content01 .top_text .date span {
  color: #b30218;
  font-size: 30px;
  margin-right: 4px;
  padding-right: 6px;
}
#content01 .area_badge {
  text-align: right;
}
#content01 .top_text2 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 8px #555;
  margin-bottom: 50px;
  line-height: 1.2;
}
#content01 .top_text2 .catch02 {
  font-size: 72px;
  color: #b30218;
  text-shadow: 1px 3px 8px #fff;
}
#content01 .top_text3 {
  width: 68%;
  margin: 0 auto;
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 10px #888;
  line-height: 1.2;
}
#content01 .top_text3 strong {
  font-size: 36px;
}
#content01 .top_text3 strong span {
  font-size: 42px;
  color: #b30218;
}
#content01 .btn_wrap {
  width: 68%;
  margin: 30px auto;
}
#content01 .btn_wrap .btn_g {
  display: block;
  padding: 10px;
  border: solid 2px #fff;
  text-shadow: 1px 1px 10px #888;
  background-color: rgba(255, 255, 255, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99ffffff', endColorstr='#99ffffff');
  *zoom: 1;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  line-height: 1.2;
}
#content01 .btn_wrap .btn_g:hover {
  background: #fff;
  color: #f5a623;
  text-shadow: none;
}
#content01 .btn_wrap .btn_more {
  position: relative;
  display: block;
  padding: 20px;
  padding-bottom: 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}
#content01 .btn_wrap .btn_more:hover {
  color: #f5a623;
}
#content01 .btn_wrap .btn_more img {
  position: relative;
  top: 4px;
  margin-right: 5px;
}
.vmg2#content01 {
  background: url(../images/vimg2.jpg) no-repeat top center;
}
.vmg3#content01 {
  background: url(../images/vimg3.jpg) no-repeat top center;
}
@media (max-width: 768px) {
  #content01 .logo {
    width: 100px;
  }
  #content01 .top_text {
    font-size: 20px;
  }
  #content01 .area_badge {
    text-align: center;
  }
  #content01 .top_text2 {
    font-size: 18px;
  }
  #content01 .top_text3 {
    width: 100%;
  }
  #content01 .top_text3 strong {
    font-size: 26px;
  }
  #content01 .btn_wrap {
    width: 100%;
  }
  #content01 .btn_wrap .btn_g {
    font-size: 26px;
  }
}
.text_ex {
  width: 80%;
  margin: 0 auto;
  color: #b30218;
  font-size: 20px;
  font-weight: bold;
}
.text_ex strong {
  font-weight: bold;
  display: block;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.text_ex .number {
  font-size: 60px;
}
.text_ex .product {
  font-size: 40px;
  border-bottom: solid 10px #f5a623;
}
.eximg_wrap {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
}
.eximg_wrap img {
  width: 100%;
  margin-bottom: 15px;
}
.corner_left {
  padding-left: 100px;
  position: relative;
  top: 50px;
}
.corner_right {
  position: relative;
  bottom: 60px;
  padding-right: 100px;
  text-align: right;
}
@media (max-width: 768px) {
  .corner_left,
  .corner_right {
    display: none;
  }
  #content01 .top_text .date {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }
  #content01 .top_text .date span.title {
    display: block;
    border-right: none;
    border-bottom: dotted 1px #fff;
  }
}
#content02,
#content03,
#content04,
#content05 {
  min-height: 650px;
}
#content02 h2,
#content03 h2,
#content04 h2,
#content05 h2 {
  position: relative;
  line-height: 2.2;
  background: #b30218;
  color: #fff;
  font-size: 30px;
}
#content02 h2 .icoimg,
#content03 h2 .icoimg,
#content04 h2 .icoimg,
#content05 h2 .icoimg {
  position: relative;
  padding-left: 10%;
  padding-right: 18px;
  top: 10px;
}
#content02 h2 i,
#content03 h2 i,
#content04 h2 i,
#content05 h2 i {
  position: relative;
  margin-left: 10%;
  margin-right: 10px;
  font-size: 38px;
  top: 3px;
}
#content03 .flow {
  width: 50%;
  max-width: 450px;
  margin: 0 auto;
}
#content03 .flow p {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
#content03 .flow p span {
  display: block;
}
#content03 .flow p.bgo {
  padding: 20px 0;
  min-height: 130px;
  background: url(../images/bg_org.png) no-repeat top center;
  background-size: cover;
}
#content03 .flow p.bre {
  padding: 50px 0;
  min-height: 130px;
  background: url(../images/bg_red.png) no-repeat top center;
  background-size: cover;
}
#content03 .flow p.bge {
  padding: 20px 0;
  background: #d4c49c;
}
#content03 .flow p.release {
  position: relative;
  top: -120px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 6px #b30218;
  color: #b30218;
  margin: 10px auto;
  background: #fff;
}
#content03 .flow p.release span {
  padding-top: 30px;
}
#content03 .flow .f01 {
  position: relative;
  z-index: 100;
  top: 50px;
}
#content03 .flow .f01 span {
  font-size: 30px;
}
#content03 .flow p.f02 {
  position: relative;
  z-index: 90;
  top: -60px;
  padding-top: 150px;
}
#content03 .flow p.f03 {
  position: relative;
  z-index: 80;
  top: -110px;
  height: 200px;
  padding-top: 70px;
  color: #b30218;
}
#content03 .flow p.f03 span {
  display: block;
  padding: 10px;
}
#content03 .flow p.f04 {
  position: relative;
  z-index: 70;
  top: -108px;
  padding-top: 50px;
}
#content03 .flow p.f05 {
  position: relative;
  z-index: 60;
  top: -160px;
  padding-top: 70px;
}
#content05 {
  background: url(../images/bg_last.png);
  min-height: 300px;
}
#inquiry {
  width: 50%;
  margin: 20px auto;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 100px;
}
#inquiry p {
  color: #555;
  font-size: 16px;
}
#inquiry p.coname {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 3px 2px #fff;
  border-bottom: solid 1px #ccc;
  margin-bottom: 4px;
  line-height: 1.2;
}
#inquiry p.coname span {
  position: relative;
  left: -10px;
  font-size: 24px;
  font-weight: normal;
}
#inquiry p.courl a {
  color: #b30218;
  font-weight: bold;
  font-size: 18px;
}
#inquiry .btn_i {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: 1px 1px 2px #888;
  font-size: 26px;
  font-weight: bold;
  color: #555;
  text-shadow: 1px 2px 2px #fff;
  background-color: rgba(255, 255, 255, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99ffffff', endColorstr='#99ffffff');
  *zoom: 1;
  text-decoration: none;
}
#inquiry .btn_i:hover {
  text-decoration: none;
  color: #fff;
  background: #b30218;
  text-shadow: none;
}
#inquiry .btn_i i {
  margin-right: 15px;
}
@media (max-width: 768px) {
  #content01,
  #content02,
  #content03,
  #content04,
  #content05 {
    min-height: initial;
  }
  #inquiry {
    width: 100%;
  }
  #inquiry p.coname {
    font-size: 28px;
  }
  #inquiry p.coname span {
    font-size: 18px;
  }
}
ul.list_note {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 30px;
  margin-bottom: 50px;
  position: relative;
}
ul.list_note li {
  position: relative;
  line-height: 1.5;
  font-size: 26px;
  color: #b30218;
  margin-bottom: 50px;
}
ul.list_note li i {
  position: relative;
  top: 6px;
  margin-right: 20px;
  font-size: 40px;
}
@media (max-width: 768px) {
  ul.list_note {
    max-width: auto;
    width: 100%;
    margin-bottom: 60px;
    padding: 0;
  }
  ul.list_note li {
    font-size: 16px;
  }
}
.totop {
  position: fixed;
  display: block;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #ddd;
  background-color: rgba(179, 2, 24, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99B30218', endColorstr='#99B30218');
  *zoom: 1;
  line-height: 63px;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 1px 1px #555;
}
.totop:link {
  text-decoration: none;
  color: #fff;
}
.totop:visited {
  text-decoration: none;
  color: #fff;
}
.totop:hover {
  color: #fff;
  text-decoration: none;
  background-color: rgba(179, 2, 24, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99B30218', endColorstr='#99B30218');
  *zoom: 1;
}
.totop:active {
  color: #fff;
  text-decoration: none;
}
