@import "reset.less";


// フォント
// @font_normal: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
// @font_meiryo: Meiryo,sans-serif;

// @font_normal: "Hiragino Kaku Gothic Pro", "Meiryo", "MS PGothic", sans-serif;;



// カラー
@red: #B30218;
@org: #F5A623;
@bge: #D4C49C;
@blu: #4EADCA;


// alpha
.bgalpha_r {
  background-color: rgba(179,2,24,0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99B30218', endColorstr='#99B30218');
  *zoom: 1;
}

.bgalpha_r2 {
  background-color: rgba(179,2,24,0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99B30218', endColorstr='#99B30218');
  *zoom: 1;
}

.bgalpha_w {
  background-color: rgba(255,255,255,0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99ffffff', endColorstr='#99ffffff');
  *zoom: 1;
}

.bgalpha_w2 {
  background-color: rgba(255,255,255,0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99ffffff', endColorstr='#99ffffff');
  *zoom: 1;
}

//余白

.mb10 {
	margin-bottom: 10px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb25 {
	margin-bottom: 25px;
}

.mb30 {
	margin-bottom: 30px;
}
.mb40 {
	margin-bottom: 30px;
}

.mr10 {
	margin-right: 10px;
}

.mr20 {
	margin-right: 20px;
}
.ml10 {
	margin-left: 10px;
}
.ml10p {
	margin-left: 10%;
}
.ml20 {
	margin-left: 20px;
}
.ml20p {
	margin-left: 20%;
}
.ml30 {
	margin-left: 30px;
}
.ml30p {
	margin-left: 30%;
}

//フォントサイズ
.fz20 {
	font-size: 20px;
}
.fz30 {
	font-size: 30px;
}


//フォントカラー
.color_red {
	color: @red;
}

.color_blu {
	color: @blu;
}

.color_org {
	color: @org;
}


body {
	background: url(../images/bg.png);
}

.container {
	width: 84%;
	margin: 0 auto;
	padding: 40px 0;
	padding-bottom: 0;
}

#content01{
	position: relative;
	background: url(../images/bg_top.jpg) no-repeat top center;
	background-size: cover;
	min-height: 730px;
	.logo {
		max-width: 200px;
		min-width: 150px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.top_text {
		color: #fff;
		font-weight: bold;
		font-size: 22px;
		line-height: 1.6;
		padding-left: 30px;
		text-shadow: 1px 1px 10px #888;
		.date {
			width: 86%;
			margin-top: 20px;
			border: solid 1px #fff;
			box-shadow: 1px 1px 8px #eee;
			text-shadow: none;
			font-size: 18px;
			span.title {				
					color: #fff;
					font-size: 24px;
					padding-left: 10px;
					padding-right: 10px;
					border-right: solid 1px #fff;
					}
			span {
					color: @red;
					font-size: 30px;
					margin-right: 4px;
					padding-right: 6px;
				}
		}
	}
	.area_badge {
		text-align: right;
	}
	.top_text2 {
		font-size: 36px;
		font-weight: bold;
		color: #fff;
		text-shadow: 1px 1px 8px #555;
		margin-bottom: 50px;
		line-height: 1.2;
		.catch02 {
			font-size: 72px;
			color: @red;
			text-shadow: 1px 3px 8px #fff;
		}
	}
	.top_text3 {
		width: 68%;
		margin: 0 auto;
		font-size: 28px;
		color: #fff;
		font-weight: bold;
		text-shadow: 1px 1px 10px #888;
		line-height: 1.2;
		strong {
			font-size: 36px;
			span {
				font-size: 42px;
				color: @red;
			}
		}
	}
	.btn_wrap {
		width: 68%;
		margin: 30px auto;
		.btn_g {
			display: block;
			padding: 10px;
			border: solid 2px #fff;
			text-shadow: 1px 1px 10px #888;
			.bgalpha_w;
			text-decoration: none;
			font-size: 40px;
			font-weight: bold;
			text-align: center;
			color: #fff;
			line-height: 1.2;
			&:hover {
				background: #fff;
				color: @org;
				text-shadow: none;
			}
		}
		.btn_more {
			position: relative;
			display: block;
			padding: 20px;
			padding-bottom: 0;
			text-align: center;
			text-decoration: none;
			color: #fff;
			font-size: 22px;
			font-weight: bold;
			&:hover {
				color: @org;
			}
			img {
				position: relative;
				top: 4px;
				margin-right: 5px;
			}
		}
	}	
}

.vmg2#content01 {
	background: url(../images/vimg2.jpg) no-repeat top center;
}

.vmg3#content01 {
	background: url(../images/vimg3.jpg) no-repeat top center;
}

@media (max-width: 768px){
	#content01 {
		.logo {
			width: 100px;
		}
		.top_text {
			font-size: 20px;
		}
		.area_badge {
			text-align: center;
		}
		.top_text2 {
			font-size: 18px;
		}
		.top_text3 {
			width: 100%;
			strong {
				font-size: 26px;
			}
		}
		.btn_wrap {
			width: 100%;
			.btn_g {
			font-size: 26px;
			}
		}
	}
}

.text_ex {
	width: 80%;
	margin: 0 auto;
	color: @red;
	font-size: 20px;
	font-weight: bold;
	strong {
		font-weight: bold;
		display: block;
		font-size: 30px;
		text-align: center;
		margin-bottom: 20px;
	}
	.number {
		font-size: 60px;
	}
	.product {
		font-size: 40px;
		border-bottom: solid 10px @org;
	}
}

.eximg_wrap {
	width: 80%;
	padding: 20px;
	margin: 0 auto;
	img {
		width: 100%;
		margin-bottom: 15px;
	}
}
.corner_left {
	padding-left: 100px;
	position: relative;
	top: 50px;
}
.corner_right {
	position: relative;
	bottom: 60px;
	padding-right: 100px;
	text-align: right;
}

@media (max-width: 768px) {
	.corner_left, .corner_right {
		display: none;
	}
	#content01 {
		.top_text {
			.date {
				text-align: center;
				margin-bottom: 20px;
				width: 100%;
				span.title {
					display: block;
					border-right: none;
					border-bottom: dotted 1px #fff;
				}
			}
		} 
	}
}

#content02,
#content03,
#content04,
#content05 {
	min-height: 650px;
	h2 {
		position: relative;
		line-height: 2.2;
		background: @red;
		color: #fff;
		font-size: 30px;
		.icoimg {
			position: relative;
			padding-left: 10%;
			padding-right: 18px;
			top: 10px;
		}
		i {
			position: relative;
			margin-left: 10%;
			margin-right: 10px;
			font-size: 38px;
			top: 3px;
		}
	}
}

#content03 {
	.flow {
		width: 50%;
		max-width: 450px;
		margin: 0 auto;
		p {
			width: 100%;
			margin: 0 auto;
			color: #fff;
			text-align: center;
			font-size: 20px;
			font-weight: bold;
			span {
				display: block;
			}
		}
		p.bgo {
			padding: 20px 0;
			min-height: 130px;
			background: url(../images/bg_org.png) no-repeat top center;
			background-size: cover;
		}
		p.bre {
			padding: 50px 0;
			min-height: 130px;
			background: url(../images/bg_red.png) no-repeat top center;
			background-size: cover;
		}
		p.bge {
			padding: 20px 0;
			background: @bge;
		}
		p.release {
			position: relative;
			top: -120px;
			width: 200px;
			height: 200px;
			border-radius: 50%;
			border: solid 6px @red;
			color: @red;
			margin: 10px auto;
			background: #fff;
			span {
				padding-top: 30px;
			}
		}
		.f01 {
			position: relative;
			z-index: 100;
			top: 50px;
			span {
				font-size: 30px;
			}
		}
		p.f02 {
			position: relative;
			z-index: 90;
			top: -60px;
			padding-top: 150px;
		}
		p.f03 {
			position: relative;
			z-index: 80;
			top: -110px;
			height: 200px;
			padding-top: 70px;
			color: @red;
			span {
				display: block;
				padding: 10px;
			}
		}
		p.f04 {
			position: relative;
			z-index: 70;
			top: -108px;
			padding-top: 50px;
		}
		p.f05 {
			position: relative;
			z-index: 60;
			top: -160px;
			padding-top: 70px;
		}
	}
}
#content05 {
	background: url(../images/bg_last.png);
	min-height: 300px;
}

#inquiry {
	width: 50%;
	margin: 20px auto;
	// background: url(../images/bg_last.png);
	border-radius: 2px;
	text-align: center;
	margin-bottom: 100px;
	p {
		color: #555;
		font-size: 16px;		
	}
	p.coname {
		position: relative;
		font-size: 40px;
		font-weight: bold;
		text-shadow: 1px 3px 2px #fff;
		border-bottom: solid 1px #ccc;
		margin-bottom: 4px;
		line-height: 1.2;
		span {
			position: relative;
			left: -10px;
			font-size: 24px;
			font-weight: normal;
		}
	}
	p.courl {
		a {
			color: @red;
			font-weight: bold;
			font-size: 18px;
		}
	}
	.btn_i {
		display: block;
		width: 100%;
		margin: 0 auto;
		padding: 10px;
		border: solid 1px #fff;
		box-shadow: 1px 1px 2px #888; 
		font-size: 26px;
		font-weight: bold;
		color: #555;
		text-shadow: 1px 2px 2px #fff;
		.bgalpha_w2;
		text-decoration: none;
		&:hover {
			text-decoration: none;
			color: #fff;
			background: @red;
			text-shadow: none;
		}
		i {
			margin-right: 15px;
		}
	}
}

@media (max-width: 768px) {
	#content01,
	#content02,
	#content03,
	#content04,
	#content05 {
		min-height: initial;
	}
	#inquiry {
		width: 100%;
		p.coname {
			font-size: 28px;
			span {
				font-size: 18px;
			}
		}
	}
}

ul.list_note {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 30px;
	margin-bottom: 50px;
	position: relative;
	li {
		position: relative;
		line-height: 1.5;
		font-size: 26px;
		color: @red;
		margin-bottom: 50px;
		i {
			position: relative;
			top: 6px;
			margin-right: 20px;
			font-size: 40px;
		}
	}
}


@media (max-width: 768px) {
	ul.list_note {
		max-width: auto;
		width: 100%;
		margin-bottom: 60px;
		padding: 0;
		li {
			font-size: 16px;
		}
	}
}

.totop {
	position: fixed;
	display: block;
	bottom: 30px;
	right: 30px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	// border: solid 2px #ddd;
	color: #ddd;
	// background: @red;
	.bgalpha_r;
	line-height: 63px;
	text-align: center;
	text-decoration: none;
	box-shadow: 1px 1px 1px #555;
	&:link {
		text-decoration: none;
		color: #fff;
	}
	&:visited {
		text-decoration: none;
		color: #fff;
	}
	&:hover {
		color: #fff;
		text-decoration: none;
		.bgalpha_r2;
	} 
	&:active {
		color: #fff;
		text-decoration: none;
	} 
}

